body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(66, 66, 133) 20%, lightblue 70%);
    height: 100vh;
    margin: 0;
    background-image: url(pexels-danielabsi-952670.jpg);
    background-size: contain;
}
.profileicon{
    position: absolute;
    top: 20px;
    left: 10%;
}
.kingdomicon{
    position: absolute;
    top: 23px;
    left:82%;
    width: 30px;
}
.diamond{
    position: absolute;
    top: 100px;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: black;
    color:white;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.tsks, .ardrp, .minediv, .friendsdiv{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.friendslist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    color: whitesmoke;
}
.friendslist div{
    background-color: black;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border:solid 1px white;
}
.connectbtn{
    height: 50px;
    background-color: rgb(7, 7, 37);
    border: none;
    color: white;
    width: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.connectbtn img{
    width: 20px;
    margin-right: 20px;
}


.backbtn{
    position: absolute;
    top: 20px;
    left: 30px;
}
.profpic{
    margin-right: 30px;
    width: 50px;
    margin-left: 30px;
}
.profdetails{
    display: flex;
    color: white;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.37);
    height: 100px;
    width: 300px;
    border-radius: 10px;
    font-size: 17px;
}
.desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.desc img{
    width: 30px;
}

.tasksdiv{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tasksdiv div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(90, 69, 69);
    height: 50px;
    width: 400px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    
    padding: 0 10px 0 10px;
}
.mining-info{
    margin-top: 80px;
}
.balicon{
    width: 30px;
}
.balsection{
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: rgb(186, 217, 235);
}
.claimbtn{
    position: absolute;
    top: 380px ;
    color: white;
    background-color: rgb(121, 196, 78);
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 300px;
    font-size: 17px;
}
.gobtn{
    background-color: black;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.gobtn.claimed{
    width: 60px;
    background-color: green;
}

.crownbal{
    color: white;
}
.username{
    color: white;
}
